:root {
  --material-themewhite: rgba(255, 255, 255, 1);
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-themesyslightprimary: rgba(28, 95, 165, 1);
  --material-themesyslighton-primary: rgba(255, 255, 255, 1);
  --material-themesyslightprimary-container: rgba(212, 227, 255, 1);
  --material-themesyslighton-primary-container: rgba(0, 28, 58, 1);
  --material-themesyslightprimary-fixed: rgba(212, 227, 255, 1);
  --material-themesyslighton-primary-fixed: rgba(0, 28, 58, 1);
  --material-themesyslightprimary-fixed-dim: rgba(165, 200, 255, 1);
  --material-themesyslighton-primary-fixed-variant: rgba(0, 71, 132, 1);
  --material-themesyslightsecondary: rgba(84, 95, 113, 1);
  --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
  --material-themesyslightsecondary-container: rgba(216, 227, 248, 1);
  --material-themesyslighton-secondary-container: rgba(17, 28, 43, 1);
  --material-themesyslightsecondary-fixed: rgba(216, 227, 248, 1);
  --material-themesyslighton-secondary-fixed: rgba(17, 28, 43, 1);
  --material-themesyslightsecondary-fixed-dim: rgba(188, 199, 220, 1);
  --material-themesyslighton-secondary-fixed-variant: rgba(61, 71, 88, 1);
  --material-themesyslighttertiary: rgba(109, 86, 118, 1);
  --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslighttertiary-container: rgba(246, 217, 255, 1);
  --material-themesyslighton-tertiary-container: rgba(39, 20, 48, 1);
  --material-themesyslighttertiary-fixed: rgba(246, 217, 255, 1);
  --material-themesyslighton-tertiary-fixed: rgba(39, 20, 48, 1);
  --material-themesyslighttertiary-fixed-dim: rgba(218, 189, 226, 1);
  --material-themesyslighton-tertiary-fixed-variant: rgba(85, 63, 94, 1);
  --material-themesyslighterror: rgba(186, 26, 26, 1);
  --material-themesyslighton-error: rgba(255, 255, 255, 1);
  --material-themesyslighterror-container: rgba(255, 218, 214, 1);
  --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
  --material-themesyslightoutline: rgba(116, 119, 127, 1);
  --material-themesyslightbackground: rgba(253, 252, 255, 1);
  --material-themesyslighton-background: rgba(26, 28, 30, 1);
  --material-themesyslightsurface: rgba(250, 249, 253, 1);
  --material-themesyslighton-surface: rgba(26, 28, 30, 1);
  --material-themesyslightsurface-variant: rgba(224, 226, 235, 1);
  --material-themesyslighton-surface-variant: rgba(67, 71, 78, 1);
  --material-themesyslightinverse-surface: rgba(47, 48, 51, 1);
  --material-themesyslightinverse-on-surface: rgba(241, 240, 244, 1);
  --material-themesyslightinverse-primary: rgba(165, 200, 255, 1);
  --material-themesyslightshadow: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-tint: rgba(28, 95, 165, 1);
  --material-themesyslightoutline-variant: rgba(195, 198, 207, 1);
  --material-themesyslightscrim: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-container-highest: rgba(227, 226, 230, 1);
  --material-themesyslightsurface-container-high: rgba(232, 232, 235, 1);
  --material-themesyslightsurface-container: rgba(238, 237, 241, 1);
  --material-themesyslightsurface-container-low: rgba(244, 243, 247, 1);
  --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslightsurface-bright: rgba(250, 249, 253, 1);
  --material-themesyslightsurface-dim: rgba(218, 217, 221, 1);
  --material-themesysdarkprimary: rgba(165, 200, 255, 1);
  --material-themesysdarkon-primary: rgba(0, 49, 94, 1);
  --material-themesysdarkprimary-container: rgba(0, 71, 132, 1);
  --material-themesysdarkon-primary-container: rgba(212, 227, 255, 1);
  --material-themesysdarkprimary-fixed: rgba(212, 227, 255, 1);
  --material-themesysdarkon-primary-fixed: rgba(0, 28, 58, 1);
  --material-themesysdarkprimary-fixed-dim: rgba(165, 200, 255, 1);
  --material-themesysdarkon-primary-fixed-variant: rgba(0, 71, 132, 1);
  --material-themesysdarksecondary: rgba(188, 199, 220, 1);
  --material-themesysdarkon-secondary: rgba(38, 49, 65, 1);
  --material-themesysdarksecondary-container: rgba(61, 71, 88, 1);
  --material-themesysdarkon-secondary-container: rgba(216, 227, 248, 1);
  --material-themesysdarksecondary-fixed: rgba(216, 227, 248, 1);
  --material-themesysdarkon-secondary-fixed: rgba(17, 28, 43, 1);
  --material-themesysdarksecondary-fixed-dim: rgba(188, 199, 220, 1);
  --material-themesysdarkon-secondary-fixed-variant: rgba(61, 71, 88, 1);
  --material-themesysdarktertiary: rgba(218, 189, 226, 1);
  --material-themesysdarkon-tertiary: rgba(61, 41, 70, 1);
  --material-themesysdarktertiary-container: rgba(85, 63, 94, 1);
  --material-themesysdarkon-tertiary-container: rgba(246, 217, 255, 1);
  --material-themesysdarktertiary-fixed: rgba(246, 217, 255, 1);
  --material-themesysdarkon-tertiary-fixed: rgba(39, 20, 48, 1);
  --material-themesysdarktertiary-fixed-dim: rgba(218, 189, 226, 1);
  --material-themesysdarkon-tertiary-fixed-variant: rgba(85, 63, 94, 1);
  --material-themesysdarkerror: rgba(255, 180, 171, 1);
  --material-themesysdarkon-error: rgba(105, 0, 5, 1);
  --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
  --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
  --material-themesysdarkoutline: rgba(141, 145, 153, 1);
  --material-themesysdarkbackground: rgba(26, 28, 30, 1);
  --material-themesysdarkon-background: rgba(227, 226, 230, 1);
  --material-themesysdarksurface: rgba(18, 19, 22, 1);
  --material-themesysdarkon-surface: rgba(198, 198, 202, 1);
  --material-themesysdarksurface-variant: rgba(67, 71, 78, 1);
  --material-themesysdarkon-surface-variant: rgba(195, 198, 207, 1);
  --material-themesysdarkinverse-surface: rgba(227, 226, 230, 1);
  --material-themesysdarkinverse-on-surface: rgba(26, 28, 30, 1);
  --material-themesysdarkinverse-primary: rgba(28, 95, 165, 1);
  --material-themesysdarkshadow: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-tint: rgba(165, 200, 255, 1);
  --material-themesysdarkoutline-variant: rgba(67, 71, 78, 1);
  --material-themesysdarkscrim: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-container-highest: rgba(52, 53, 56, 1);
  --material-themesysdarksurface-container-high: rgba(41, 42, 45, 1);
  --material-themesysdarksurface-container: rgba(30, 32, 34, 1);
  --material-themesysdarksurface-container-low: rgba(26, 28, 30, 1);
  --material-themesysdarksurface-container-lowest: rgba(13, 14, 17, 1);
  --material-themesysdarksurface-bright: rgba(56, 57, 60, 1);
  --material-themesysdarksurface-dim: rgba(18, 19, 22, 1);
  --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
  --material-themerefprimaryprimary10: rgba(0, 28, 58, 1);
  --material-themerefprimaryprimary20: rgba(0, 49, 94, 1);
  --material-themerefprimaryprimary30: rgba(0, 71, 132, 1);
  --material-themerefprimaryprimary40: rgba(28, 95, 165, 1);
  --material-themerefprimaryprimary50: rgba(62, 121, 192, 1);
  --material-themerefprimaryprimary60: rgba(90, 147, 220, 1);
  --material-themerefprimaryprimary70: rgba(118, 173, 249, 1);
  --material-themerefprimaryprimary80: rgba(165, 200, 255, 1);
  --material-themerefprimaryprimary90: rgba(212, 227, 255, 1);
  --material-themerefprimaryprimary95: rgba(235, 241, 255, 1);
  --material-themerefprimaryprimary99: rgba(253, 252, 255, 1);
  --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
  --material-themerefprimaryprimary4: rgba(0, 14, 35, 1);
  --material-themerefprimaryprimary5: rgba(0, 17, 39, 1);
  --material-themerefprimaryprimary6: rgba(0, 20, 43, 1);
  --material-themerefprimaryprimary12: rgba(0, 32, 65, 1);
  --material-themerefprimaryprimary17: rgba(0, 42, 83, 1);
  --material-themerefprimaryprimary22: rgba(0, 53, 101, 1);
  --material-themerefprimaryprimary24: rgba(0, 58, 109, 1);
  --material-themerefprimaryprimary25: rgba(0, 60, 113, 1);
  --material-themerefprimaryprimary35: rgba(0, 83, 153, 1);
  --material-themerefprimaryprimary87: rgba(198, 219, 255, 1);
  --material-themerefprimaryprimary92: rgba(221, 233, 255, 1);
  --material-themerefprimaryprimary94: rgba(230, 238, 255, 1);
  --material-themerefprimaryprimary96: rgba(239, 243, 255, 1);
  --material-themerefprimaryprimary98: rgba(249, 249, 255, 1);
  --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
  --material-themerefsecondarysecondary10: rgba(17, 28, 43, 1);
  --material-themerefsecondarysecondary20: rgba(38, 49, 65, 1);
  --material-themerefsecondarysecondary30: rgba(61, 71, 88, 1);
  --material-themerefsecondarysecondary40: rgba(84, 95, 113, 1);
  --material-themerefsecondarysecondary50: rgba(109, 120, 138, 1);
  --material-themerefsecondarysecondary60: rgba(134, 145, 164, 1);
  --material-themerefsecondarysecondary70: rgba(161, 172, 192, 1);
  --material-themerefsecondarysecondary80: rgba(188, 199, 220, 1);
  --material-themerefsecondarysecondary90: rgba(216, 227, 248, 1);
  --material-themerefsecondarysecondary95: rgba(235, 241, 255, 1);
  --material-themerefsecondarysecondary99: rgba(253, 252, 255, 1);
  --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
  --material-themerefsecondarysecondary4: rgba(4, 15, 29, 1);
  --material-themerefsecondarysecondary5: rgba(6, 17, 32, 1);
  --material-themerefsecondarysecondary6: rgba(9, 20, 35, 1);
  --material-themerefsecondarysecondary12: rgba(21, 32, 47, 1);
  --material-themerefsecondarysecondary17: rgba(32, 42, 58, 1);
  --material-themerefsecondarysecondary22: rgba(43, 53, 69, 1);
  --material-themerefsecondarysecondary24: rgba(47, 58, 74, 1);
  --material-themerefsecondarysecondary25: rgba(49, 60, 76, 1);
  --material-themerefsecondarysecondary35: rgba(72, 83, 100, 1);
  --material-themerefsecondarysecondary87: rgba(208, 218, 239, 1);
  --material-themerefsecondarysecondary92: rgba(222, 233, 254, 1);
  --material-themerefsecondarysecondary94: rgba(230, 238, 255, 1);
  --material-themerefsecondarysecondary96: rgba(239, 243, 255, 1);
  --material-themerefsecondarysecondary98: rgba(249, 249, 255, 1);
  --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
  --material-themereftertiarytertiary10: rgba(39, 20, 48, 1);
  --material-themereftertiarytertiary20: rgba(61, 41, 70, 1);
  --material-themereftertiarytertiary30: rgba(85, 63, 94, 1);
  --material-themereftertiarytertiary40: rgba(109, 86, 118, 1);
  --material-themereftertiarytertiary50: rgba(135, 110, 144, 1);
  --material-themereftertiarytertiary60: rgba(162, 136, 171, 1);
  --material-themereftertiarytertiary70: rgba(189, 162, 198, 1);
  --material-themereftertiarytertiary80: rgba(218, 189, 226, 1);
  --material-themereftertiarytertiary90: rgba(246, 217, 255, 1);
  --material-themereftertiarytertiary95: rgba(253, 235, 255, 1);
  --material-themereftertiarytertiary99: rgba(255, 251, 255, 1);
  --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
  --material-themereftertiarytertiary4: rgba(24, 6, 34, 1);
  --material-themereftertiarytertiary5: rgba(27, 9, 37, 1);
  --material-themereftertiarytertiary6: rgba(30, 11, 39, 1);
  --material-themereftertiarytertiary12: rgba(43, 24, 52, 1);
  --material-themereftertiarytertiary17: rgba(54, 34, 63, 1);
  --material-themereftertiarytertiary22: rgba(66, 45, 75, 1);
  --material-themereftertiarytertiary24: rgba(70, 49, 79, 1);
  --material-themereftertiarytertiary25: rgba(73, 52, 82, 1);
  --material-themereftertiarytertiary35: rgba(97, 74, 106, 1);
  --material-themereftertiarytertiary87: rgba(238, 208, 247, 1);
  --material-themereftertiarytertiary92: rgba(249, 224, 255, 1);
  --material-themereftertiarytertiary94: rgba(252, 231, 255, 1);
  --material-themereftertiarytertiary96: rgba(254, 239, 255, 1);
  --material-themereftertiarytertiary98: rgba(255, 247, 252, 1);
  --material-themereferrorerror0: rgba(0, 0, 0, 1);
  --material-themereferrorerror10: rgba(65, 0, 2, 1);
  --material-themereferrorerror20: rgba(105, 0, 5, 1);
  --material-themereferrorerror30: rgba(147, 0, 10, 1);
  --material-themereferrorerror40: rgba(186, 26, 26, 1);
  --material-themereferrorerror50: rgba(222, 55, 48, 1);
  --material-themereferrorerror60: rgba(255, 84, 73, 1);
  --material-themereferrorerror70: rgba(255, 137, 125, 1);
  --material-themereferrorerror80: rgba(255, 180, 171, 1);
  --material-themereferrorerror90: rgba(255, 218, 214, 1);
  --material-themereferrorerror95: rgba(255, 237, 234, 1);
  --material-themereferrorerror99: rgba(255, 251, 255, 1);
  --material-themereferrorerror100: rgba(255, 255, 255, 1);
  --material-themereferrorerror4: rgba(40, 0, 1, 1);
  --material-themereferrorerror5: rgba(45, 0, 1, 1);
  --material-themereferrorerror6: rgba(49, 0, 1, 1);
  --material-themereferrorerror12: rgba(73, 0, 2, 1);
  --material-themereferrorerror17: rgba(92, 0, 4, 1);
  --material-themereferrorerror22: rgba(113, 0, 5, 1);
  --material-themereferrorerror24: rgba(121, 0, 6, 1);
  --material-themereferrorerror25: rgba(126, 0, 7, 1);
  --material-themereferrorerror35: rgba(168, 7, 16, 1);
  --material-themereferrorerror87: rgba(255, 207, 201, 1);
  --material-themereferrorerror92: rgba(255, 226, 222, 1);
  --material-themereferrorerror94: rgba(255, 233, 230, 1);
  --material-themereferrorerror96: rgba(255, 240, 238, 1);
  --material-themereferrorerror98: rgba(255, 248, 247, 1);
  --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
  --material-themerefneutralneutral4: rgba(13, 14, 17, 1);
  --material-themerefneutralneutral6: rgba(18, 19, 22, 1);
  --material-themerefneutralneutral10: rgba(26, 28, 30, 1);
  --material-themerefneutralneutral12: rgba(30, 32, 34, 1);
  --material-themerefneutralneutral17: rgba(41, 42, 45, 1);
  --material-themerefneutralneutral20: rgba(47, 48, 51, 1);
  --material-themerefneutralneutral22: rgba(52, 53, 56, 1);
  --material-themerefneutralneutral24: rgba(56, 57, 60, 1);
  --material-themerefneutralneutral30: rgba(70, 71, 74, 1);
  --material-themerefneutralneutral40: rgba(93, 94, 98, 1);
  --material-themerefneutralneutral50: rgba(118, 119, 122, 1);
  --material-themerefneutralneutral60: rgba(144, 144, 148, 1);
  --material-themerefneutralneutral70: rgba(171, 171, 174, 1);
  --material-themerefneutralneutral80: rgba(198, 198, 202, 1);
  --material-themerefneutralneutral87: rgba(218, 217, 221, 1);
  --material-themerefneutralneutral90: rgba(227, 226, 230, 1);
  --material-themerefneutralneutral92: rgba(232, 232, 235, 1);
  --material-themerefneutralneutral94: rgba(238, 237, 241, 1);
  --material-themerefneutralneutral95: rgba(241, 240, 244, 1);
  --material-themerefneutralneutral96: rgba(244, 243, 247, 1);
  --material-themerefneutralneutral99: rgba(253, 252, 255, 1);
  --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
  --material-themerefneutralneutral5: rgba(16, 17, 20, 1);
  --material-themerefneutralneutral25: rgba(58, 59, 62, 1);
  --material-themerefneutralneutral35: rgba(81, 82, 86, 1);
  --material-themerefneutralneutral98: rgba(250, 249, 253, 1);
  --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-themerefneutral-variantneutral-variant10: rgba(24, 28, 34, 1);
  --material-themerefneutral-variantneutral-variant20: rgba(45, 49, 56, 1);
  --material-themerefneutral-variantneutral-variant30: rgba(67, 71, 78, 1);
  --material-themerefneutral-variantneutral-variant40: rgba(91, 94, 102, 1);
  --material-themerefneutral-variantneutral-variant50: rgba(116, 119, 127, 1);
  --material-themerefneutral-variantneutral-variant60: rgba(141, 145, 153, 1);
  --material-themerefneutral-variantneutral-variant70: rgba(168, 171, 180, 1);
  --material-themerefneutral-variantneutral-variant80: rgba(195, 198, 207, 1);
  --material-themerefneutral-variantneutral-variant90: rgba(224, 226, 235, 1);
  --material-themerefneutral-variantneutral-variant95: rgba(238, 240, 250, 1);
  --material-themerefneutral-variantneutral-variant99: rgba(253, 252, 255, 1);
  --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-themerefneutral-variantneutral-variant4: rgba(10, 14, 21, 1);
  --material-themerefneutral-variantneutral-variant5: rgba(13, 17, 23, 1);
  --material-themerefneutral-variantneutral-variant6: rgba(16, 20, 26, 1);
  --material-themerefneutral-variantneutral-variant12: rgba(28, 32, 38, 1);
  --material-themerefneutral-variantneutral-variant17: rgba(38, 42, 49, 1);
  --material-themerefneutral-variantneutral-variant22: rgba(49, 53, 60, 1);
  --material-themerefneutral-variantneutral-variant24: rgba(53, 57, 64, 1);
  --material-themerefneutral-variantneutral-variant25: rgba(56, 60, 67, 1);
  --material-themerefneutral-variantneutral-variant35: rgba(79, 82, 90, 1);
  --material-themerefneutral-variantneutral-variant87: rgba(215, 218, 227, 1);
  --material-themerefneutral-variantneutral-variant92: rgba(229, 232, 241, 1);
  --material-themerefneutral-variantneutral-variant94: rgba(235, 238, 247, 1);
  --material-themerefneutral-variantneutral-variant96: rgba(241, 243, 253, 1);
  --material-themerefneutral-variantneutral-variant98: rgba(249, 249, 255, 1);
  --material-themekey-colorsprimary: rgba(19, 50, 86, 1);
  --material-themesourceseed: rgba(19, 50, 86, 1);
  --material-themesurfaceslightsurface1: rgba(250, 249, 253, 1);
  --material-themesurfaceslightsurface2: rgba(250, 249, 253, 1);
  --material-themesurfaceslightsurface3: rgba(250, 249, 253, 1);
  --material-themesurfaceslightsurface4: rgba(250, 249, 253, 1);
  --material-themesurfaceslightsurface5: rgba(250, 249, 253, 1);
  --material-themesurfacesdarksurface1: rgba(18, 19, 22, 1);
  --material-themesurfacesdarksurface2: rgba(18, 19, 22, 1);
  --material-themesurfacesdarksurface3: rgba(18, 19, 22, 1);
  --material-themesurfacesdarksurface4: rgba(18, 19, 22, 1);
  --material-themesurfacesdarksurface5: rgba(18, 19, 22, 1);
  --material-themestate-layerslightprimaryopacity-008: rgba(28, 95, 165, 0.08);
  --material-themestate-layerslightprimaryopacity-012: rgba(28, 95, 165, 0.12);
  --material-themestate-layerslightprimaryopacity-016: rgba(28, 95, 165, 0.16);
  --material-themestate-layerslighton-primaryopacity-008: rgba(255, 255, 255, 0.08);
  --material-themestate-layerslighton-primaryopacity-012: rgba(255, 255, 255, 0.12);
  --material-themestate-layerslighton-primaryopacity-016: rgba(255, 255, 255, 0.16);
  --material-themestate-layerslightprimary-containeropacity-008: rgba(212, 227, 255, 0.08);
  --material-themestate-layerslightprimary-containeropacity-012: rgba(212, 227, 255, 0.12);
  --material-themestate-layerslightprimary-containeropacity-016: rgba(212, 227, 255, 0.16);
  --material-themestate-layerslighton-primary-containeropacity-008: rgba(0, 28, 58, 0.08);
  --material-themestate-layerslighton-primary-containeropacity-012: rgba(0, 28, 58, 0.12);
  --material-themestate-layerslighton-primary-containeropacity-016: rgba(0, 28, 58, 0.16);
  --material-themestate-layerslightprimary-fixedopacity-008: rgba(212, 227, 255, 0.08);
  --material-themestate-layerslightprimary-fixedopacity-012: rgba(212, 227, 255, 0.12);
  --material-themestate-layerslightprimary-fixedopacity-016: rgba(212, 227, 255, 0.16);
  --material-themestate-layerslighton-primary-fixedopacity-008: rgba(0, 28, 58, 0.08);
  --material-themestate-layerslighton-primary-fixedopacity-012: rgba(0, 28, 58, 0.12);
  --material-themestate-layerslighton-primary-fixedopacity-016: rgba(0, 28, 58, 0.16);
  --material-themestate-layerslightprimary-fixed-dimopacity-008: rgba(165, 200, 255, 0.08);
  --material-themestate-layerslightprimary-fixed-dimopacity-012: rgba(165, 200, 255, 0.12);
  --material-themestate-layerslightprimary-fixed-dimopacity-016: rgba(165, 200, 255, 0.16);
  --material-themestate-layerslighton-primary-fixed-variantopacity-008: rgba(0, 71, 132, 0.08);
  --material-themestate-layerslighton-primary-fixed-variantopacity-012: rgba(0, 71, 132, 0.12);
  --material-themestate-layerslighton-primary-fixed-variantopacity-016: rgba(0, 71, 132, 0.16);
  --material-themestate-layerslightsecondaryopacity-008: rgba(84, 95, 113, 0.08);
  --material-themestate-layerslightsecondaryopacity-012: rgba(84, 95, 113, 0.12);
  --material-themestate-layerslightsecondaryopacity-016: rgba(84, 95, 113, 0.16);
  --material-themestate-layerslighton-secondaryopacity-008: rgba(255, 255, 255, 0.08);
  --material-themestate-layerslighton-secondaryopacity-012: rgba(255, 255, 255, 0.12);
  --material-themestate-layerslighton-secondaryopacity-016: rgba(255, 255, 255, 0.16);
  --material-themestate-layerslightsecondary-containeropacity-008: rgba(216, 227, 248, 0.08);
  --material-themestate-layerslightsecondary-containeropacity-012: rgba(216, 227, 248, 0.12);
  --material-themestate-layerslightsecondary-containeropacity-016: rgba(216, 227, 248, 0.16);
  --material-themestate-layerslighton-secondary-containeropacity-008: rgba(17, 28, 43, 0.08);
  --material-themestate-layerslighton-secondary-containeropacity-012: rgba(17, 28, 43, 0.12);
  --material-themestate-layerslighton-secondary-containeropacity-016: rgba(17, 28, 43, 0.16);
  --material-themestate-layerslightsecondary-fixedopacity-008: rgba(216, 227, 248, 0.08);
  --material-themestate-layerslightsecondary-fixedopacity-012: rgba(216, 227, 248, 0.12);
  --material-themestate-layerslightsecondary-fixedopacity-016: rgba(216, 227, 248, 0.16);
  --material-themestate-layerslighton-secondary-fixedopacity-008: rgba(17, 28, 43, 0.08);
  --material-themestate-layerslighton-secondary-fixedopacity-012: rgba(17, 28, 43, 0.12);
  --material-themestate-layerslighton-secondary-fixedopacity-016: rgba(17, 28, 43, 0.16);
  --material-themestate-layerslightsecondary-fixed-dimopacity-008: rgba(188, 199, 220, 0.08);
  --material-themestate-layerslightsecondary-fixed-dimopacity-012: rgba(188, 199, 220, 0.12);
  --material-themestate-layerslightsecondary-fixed-dimopacity-016: rgba(188, 199, 220, 0.16);
  --material-themestate-layerslighton-secondary-fixed-variantopacity-008: rgba(61, 71, 88, 0.08);
  --material-themestate-layerslighton-secondary-fixed-variantopacity-012: rgba(61, 71, 88, 0.12);
  --material-themestate-layerslighton-secondary-fixed-variantopacity-016: rgba(61, 71, 88, 0.16);
  --material-themestate-layerslighttertiaryopacity-008: rgba(109, 86, 118, 0.08);
  --material-themestate-layerslighttertiaryopacity-012: rgba(109, 86, 118, 0.12);
  --material-themestate-layerslighttertiaryopacity-016: rgba(109, 86, 118, 0.16);
  --material-themestate-layerslighton-tertiaryopacity-008: rgba(255, 255, 255, 0.08);
  --material-themestate-layerslighton-tertiaryopacity-012: rgba(255, 255, 255, 0.12);
  --material-themestate-layerslighton-tertiaryopacity-016: rgba(255, 255, 255, 0.16);
  --material-themestate-layerslighttertiary-containeropacity-008: rgba(246, 217, 255, 0.08);
  --material-themestate-layerslighttertiary-containeropacity-012: rgba(246, 217, 255, 0.12);
  --material-themestate-layerslighttertiary-containeropacity-016: rgba(246, 217, 255, 0.16);
  --material-themestate-layerslighton-tertiary-containeropacity-008: rgba(39, 20, 48, 0.08);
  --material-themestate-layerslighton-tertiary-containeropacity-012: rgba(39, 20, 48, 0.12);
  --material-themestate-layerslighton-tertiary-containeropacity-016: rgba(39, 20, 48, 0.16);
  --material-themestate-layerslighttertiary-fixedopacity-008: rgba(246, 217, 255, 0.08);
  --material-themestate-layerslighttertiary-fixedopacity-012: rgba(246, 217, 255, 0.12);
  --material-themestate-layerslighttertiary-fixedopacity-016: rgba(246, 217, 255, 0.16);
  --material-themestate-layerslighton-tertiary-fixedopacity-008: rgba(39, 20, 48, 0.08);
  --material-themestate-layerslighton-tertiary-fixedopacity-012: rgba(39, 20, 48, 0.12);
  --material-themestate-layerslighton-tertiary-fixedopacity-016: rgba(39, 20, 48, 0.16);
  --material-themestate-layerslighttertiary-fixed-dimopacity-008: rgba(218, 189, 226, 0.08);
  --material-themestate-layerslighttertiary-fixed-dimopacity-012: rgba(218, 189, 226, 0.12);
  --material-themestate-layerslighttertiary-fixed-dimopacity-016: rgba(218, 189, 226, 0.16);
  --material-themestate-layerslighton-tertiary-fixed-variantopacity-008: rgba(85, 63, 94, 0.08);
  --material-themestate-layerslighton-tertiary-fixed-variantopacity-012: rgba(85, 63, 94, 0.12);
  --material-themestate-layerslighton-tertiary-fixed-variantopacity-016: rgba(85, 63, 94, 0.16);
  --material-themestate-layerslighterroropacity-008: rgba(186, 26, 26, 0.08);
  --material-themestate-layerslighterroropacity-012: rgba(186, 26, 26, 0.12);
  --material-themestate-layerslighterroropacity-016: rgba(186, 26, 26, 0.16);
  --material-themestate-layerslighton-erroropacity-008: rgba(255, 255, 255, 0.08);
  --material-themestate-layerslighton-erroropacity-012: rgba(255, 255, 255, 0.12);
  --material-themestate-layerslighton-erroropacity-016: rgba(255, 255, 255, 0.16);
  --material-themestate-layerslighterror-containeropacity-008: rgba(255, 218, 214, 0.08);
  --material-themestate-layerslighterror-containeropacity-012: rgba(255, 218, 214, 0.12);
  --material-themestate-layerslighterror-containeropacity-016: rgba(255, 218, 214, 0.16);
  --material-themestate-layerslighton-error-containeropacity-008: rgba(65, 0, 2, 0.08);
  --material-themestate-layerslighton-error-containeropacity-012: rgba(65, 0, 2, 0.12);
  --material-themestate-layerslighton-error-containeropacity-016: rgba(65, 0, 2, 0.16);
  --material-themestate-layerslightoutlineopacity-008: rgba(116, 119, 127, 0.08);
  --material-themestate-layerslightoutlineopacity-012: rgba(116, 119, 127, 0.12);
  --material-themestate-layerslightoutlineopacity-016: rgba(116, 119, 127, 0.16);
  --material-themestate-layerslightbackgroundopacity-008: rgba(253, 252, 255, 0.08);
  --material-themestate-layerslightbackgroundopacity-012: rgba(253, 252, 255, 0.12);
  --material-themestate-layerslightbackgroundopacity-016: rgba(253, 252, 255, 0.16);
  --material-themestate-layerslighton-backgroundopacity-008: rgba(26, 28, 30, 0.08);
  --material-themestate-layerslighton-backgroundopacity-012: rgba(26, 28, 30, 0.12);
  --material-themestate-layerslighton-backgroundopacity-016: rgba(26, 28, 30, 0.16);
  --material-themestate-layerslightsurfaceopacity-008: rgba(250, 249, 253, 0.08);
  --material-themestate-layerslightsurfaceopacity-012: rgba(250, 249, 253, 0.12);
  --material-themestate-layerslightsurfaceopacity-016: rgba(250, 249, 253, 0.16);
  --material-themestate-layerslighton-surfaceopacity-008: rgba(26, 28, 30, 0.08);
  --material-themestate-layerslighton-surfaceopacity-012: rgba(26, 28, 30, 0.12);
  --material-themestate-layerslighton-surfaceopacity-016: rgba(26, 28, 30, 0.16);
  --material-themestate-layerslightsurface-variantopacity-008: rgba(224, 226, 235, 0.08);
  --material-themestate-layerslightsurface-variantopacity-012: rgba(224, 226, 235, 0.12);
  --material-themestate-layerslightsurface-variantopacity-016: rgba(224, 226, 235, 0.16);
  --material-themestate-layerslighton-surface-variantopacity-008: rgba(67, 71, 78, 0.08);
  --material-themestate-layerslighton-surface-variantopacity-012: rgba(67, 71, 78, 0.12);
  --material-themestate-layerslighton-surface-variantopacity-016: rgba(67, 71, 78, 0.16);
  --material-themestate-layerslightinverse-surfaceopacity-008: rgba(47, 48, 51, 0.08);
  --material-themestate-layerslightinverse-surfaceopacity-012: rgba(47, 48, 51, 0.12);
  --material-themestate-layerslightinverse-surfaceopacity-016: rgba(47, 48, 51, 0.16);
  --material-themestate-layerslightinverse-on-surfaceopacity-008: rgba(241, 240, 244, 0.08);
  --material-themestate-layerslightinverse-on-surfaceopacity-012: rgba(241, 240, 244, 0.12);
  --material-themestate-layerslightinverse-on-surfaceopacity-016: rgba(241, 240, 244, 0.16);
  --material-themestate-layerslightinverse-primaryopacity-008: rgba(165, 200, 255, 0.08);
  --material-themestate-layerslightinverse-primaryopacity-012: rgba(165, 200, 255, 0.12);
  --material-themestate-layerslightinverse-primaryopacity-016: rgba(165, 200, 255, 0.16);
  --material-themestate-layerslightshadowopacity-008: rgba(0, 0, 0, 0.08);
  --material-themestate-layerslightshadowopacity-012: rgba(0, 0, 0, 0.12);
  --material-themestate-layerslightshadowopacity-016: rgba(0, 0, 0, 0.16);
  --material-themestate-layerslightsurface-tintopacity-008: rgba(28, 95, 165, 0.08);
  --material-themestate-layerslightsurface-tintopacity-012: rgba(28, 95, 165, 0.12);
  --material-themestate-layerslightsurface-tintopacity-016: rgba(28, 95, 165, 0.16);
  --material-themestate-layerslightoutline-variantopacity-008: rgba(195, 198, 207, 0.08);
  --material-themestate-layerslightoutline-variantopacity-012: rgba(195, 198, 207, 0.12);
  --material-themestate-layerslightoutline-variantopacity-016: rgba(195, 198, 207, 0.16);
  --material-themestate-layerslightscrimopacity-008: rgba(0, 0, 0, 0.08);
  --material-themestate-layerslightscrimopacity-012: rgba(0, 0, 0, 0.12);
  --material-themestate-layerslightscrimopacity-016: rgba(0, 0, 0, 0.16);
  --material-themestate-layerslightsurface-container-highestopacity-008: rgba(227, 226, 230, 0.08);
  --material-themestate-layerslightsurface-container-highestopacity-012: rgba(227, 226, 230, 0.12);
  --material-themestate-layerslightsurface-container-highestopacity-016: rgba(227, 226, 230, 0.16);
  --material-themestate-layerslightsurface-container-highopacity-008: rgba(232, 232, 235, 0.08);
  --material-themestate-layerslightsurface-container-highopacity-012: rgba(232, 232, 235, 0.12);
  --material-themestate-layerslightsurface-container-highopacity-016: rgba(232, 232, 235, 0.16);
  --material-themestate-layerslightsurface-containeropacity-008: rgba(238, 237, 241, 0.08);
  --material-themestate-layerslightsurface-containeropacity-012: rgba(238, 237, 241, 0.12);
  --material-themestate-layerslightsurface-containeropacity-016: rgba(238, 237, 241, 0.16);
  --material-themestate-layerslightsurface-container-lowopacity-008: rgba(244, 243, 247, 0.08);
  --material-themestate-layerslightsurface-container-lowopacity-012: rgba(244, 243, 247, 0.12);
  --material-themestate-layerslightsurface-container-lowopacity-016: rgba(244, 243, 247, 0.16);
  --material-themestate-layerslightsurface-container-lowestopacity-008: rgba(255, 255, 255, 0.08);
  --material-themestate-layerslightsurface-container-lowestopacity-012: rgba(255, 255, 255, 0.12);
  --material-themestate-layerslightsurface-container-lowestopacity-016: rgba(255, 255, 255, 0.16);
  --material-themestate-layerslightsurface-brightopacity-008: rgba(250, 249, 253, 0.08);
  --material-themestate-layerslightsurface-brightopacity-012: rgba(250, 249, 253, 0.12);
  --material-themestate-layerslightsurface-brightopacity-016: rgba(250, 249, 253, 0.16);
  --material-themestate-layerslightsurface-dimopacity-008: rgba(218, 217, 221, 0.08);
  --material-themestate-layerslightsurface-dimopacity-012: rgba(218, 217, 221, 0.12);
  --material-themestate-layerslightsurface-dimopacity-016: rgba(218, 217, 221, 0.16);
  --material-themestate-layersdarkprimaryopacity-008: rgba(165, 200, 255, 0.08);
  --material-themestate-layersdarkprimaryopacity-012: rgba(165, 200, 255, 0.12);
  --material-themestate-layersdarkprimaryopacity-016: rgba(165, 200, 255, 0.16);
  --material-themestate-layersdarkon-primaryopacity-008: rgba(0, 49, 94, 0.08);
  --material-themestate-layersdarkon-primaryopacity-012: rgba(0, 49, 94, 0.12);
  --material-themestate-layersdarkon-primaryopacity-016: rgba(0, 49, 94, 0.16);
  --material-themestate-layersdarkprimary-containeropacity-008: rgba(0, 71, 132, 0.08);
  --material-themestate-layersdarkprimary-containeropacity-012: rgba(0, 71, 132, 0.12);
  --material-themestate-layersdarkprimary-containeropacity-016: rgba(0, 71, 132, 0.16);
  --material-themestate-layersdarkon-primary-containeropacity-008: rgba(212, 227, 255, 0.08);
  --material-themestate-layersdarkon-primary-containeropacity-012: rgba(212, 227, 255, 0.12);
  --material-themestate-layersdarkon-primary-containeropacity-016: rgba(212, 227, 255, 0.16);
  --material-themestate-layersdarkprimary-fixedopacity-008: rgba(212, 227, 255, 0.08);
  --material-themestate-layersdarkprimary-fixedopacity-012: rgba(212, 227, 255, 0.12);
  --material-themestate-layersdarkprimary-fixedopacity-016: rgba(212, 227, 255, 0.16);
  --material-themestate-layersdarkon-primary-fixedopacity-008: rgba(0, 28, 58, 0.08);
  --material-themestate-layersdarkon-primary-fixedopacity-012: rgba(0, 28, 58, 0.12);
  --material-themestate-layersdarkon-primary-fixedopacity-016: rgba(0, 28, 58, 0.16);
  --material-themestate-layersdarkprimary-fixed-dimopacity-008: rgba(165, 200, 255, 0.08);
  --material-themestate-layersdarkprimary-fixed-dimopacity-012: rgba(165, 200, 255, 0.12);
  --material-themestate-layersdarkprimary-fixed-dimopacity-016: rgba(165, 200, 255, 0.16);
  --material-themestate-layersdarkon-primary-fixed-variantopacity-008: rgba(0, 71, 132, 0.08);
  --material-themestate-layersdarkon-primary-fixed-variantopacity-012: rgba(0, 71, 132, 0.12);
  --material-themestate-layersdarkon-primary-fixed-variantopacity-016: rgba(0, 71, 132, 0.16);
  --material-themestate-layersdarksecondaryopacity-008: rgba(188, 199, 220, 0.08);
  --material-themestate-layersdarksecondaryopacity-012: rgba(188, 199, 220, 0.12);
  --material-themestate-layersdarksecondaryopacity-016: rgba(188, 199, 220, 0.16);
  --material-themestate-layersdarkon-secondaryopacity-008: rgba(38, 49, 65, 0.08);
  --material-themestate-layersdarkon-secondaryopacity-012: rgba(38, 49, 65, 0.12);
  --material-themestate-layersdarkon-secondaryopacity-016: rgba(38, 49, 65, 0.16);
  --material-themestate-layersdarksecondary-containeropacity-008: rgba(61, 71, 88, 0.08);
  --material-themestate-layersdarksecondary-containeropacity-012: rgba(61, 71, 88, 0.12);
  --material-themestate-layersdarksecondary-containeropacity-016: rgba(61, 71, 88, 0.16);
  --material-themestate-layersdarkon-secondary-containeropacity-008: rgba(216, 227, 248, 0.08);
  --material-themestate-layersdarkon-secondary-containeropacity-012: rgba(216, 227, 248, 0.12);
  --material-themestate-layersdarkon-secondary-containeropacity-016: rgba(216, 227, 248, 0.16);
  --material-themestate-layersdarksecondary-fixedopacity-008: rgba(216, 227, 248, 0.08);
  --material-themestate-layersdarksecondary-fixedopacity-012: rgba(216, 227, 248, 0.12);
  --material-themestate-layersdarksecondary-fixedopacity-016: rgba(216, 227, 248, 0.16);
  --material-themestate-layersdarkon-secondary-fixedopacity-008: rgba(17, 28, 43, 0.08);
  --material-themestate-layersdarkon-secondary-fixedopacity-012: rgba(17, 28, 43, 0.12);
  --material-themestate-layersdarkon-secondary-fixedopacity-016: rgba(17, 28, 43, 0.16);
  --material-themestate-layersdarksecondary-fixed-dimopacity-008: rgba(188, 199, 220, 0.08);
  --material-themestate-layersdarksecondary-fixed-dimopacity-012: rgba(188, 199, 220, 0.12);
  --material-themestate-layersdarksecondary-fixed-dimopacity-016: rgba(188, 199, 220, 0.16);
  --material-themestate-layersdarkon-secondary-fixed-variantopacity-008: rgba(61, 71, 88, 0.08);
  --material-themestate-layersdarkon-secondary-fixed-variantopacity-012: rgba(61, 71, 88, 0.12);
  --material-themestate-layersdarkon-secondary-fixed-variantopacity-016: rgba(61, 71, 88, 0.16);
  --material-themestate-layersdarktertiaryopacity-008: rgba(218, 189, 226, 0.08);
  --material-themestate-layersdarktertiaryopacity-012: rgba(218, 189, 226, 0.12);
  --material-themestate-layersdarktertiaryopacity-016: rgba(218, 189, 226, 0.16);
  --material-themestate-layersdarkon-tertiaryopacity-008: rgba(61, 41, 70, 0.08);
  --material-themestate-layersdarkon-tertiaryopacity-012: rgba(61, 41, 70, 0.12);
  --material-themestate-layersdarkon-tertiaryopacity-016: rgba(61, 41, 70, 0.16);
  --material-themestate-layersdarktertiary-containeropacity-008: rgba(85, 63, 94, 0.08);
  --material-themestate-layersdarktertiary-containeropacity-012: rgba(85, 63, 94, 0.12);
  --material-themestate-layersdarktertiary-containeropacity-016: rgba(85, 63, 94, 0.16);
  --material-themestate-layersdarkon-tertiary-containeropacity-008: rgba(246, 217, 255, 0.08);
  --material-themestate-layersdarkon-tertiary-containeropacity-012: rgba(246, 217, 255, 0.12);
  --material-themestate-layersdarkon-tertiary-containeropacity-016: rgba(246, 217, 255, 0.16);
  --material-themestate-layersdarktertiary-fixedopacity-008: rgba(246, 217, 255, 0.08);
  --material-themestate-layersdarktertiary-fixedopacity-012: rgba(246, 217, 255, 0.12);
  --material-themestate-layersdarktertiary-fixedopacity-016: rgba(246, 217, 255, 0.16);
  --material-themestate-layersdarkon-tertiary-fixedopacity-008: rgba(39, 20, 48, 0.08);
  --material-themestate-layersdarkon-tertiary-fixedopacity-012: rgba(39, 20, 48, 0.12);
  --material-themestate-layersdarkon-tertiary-fixedopacity-016: rgba(39, 20, 48, 0.16);
  --material-themestate-layersdarktertiary-fixed-dimopacity-008: rgba(218, 189, 226, 0.08);
  --material-themestate-layersdarktertiary-fixed-dimopacity-012: rgba(218, 189, 226, 0.12);
  --material-themestate-layersdarktertiary-fixed-dimopacity-016: rgba(218, 189, 226, 0.16);
  --material-themestate-layersdarkon-tertiary-fixed-variantopacity-008: rgba(85, 63, 94, 0.08);
  --material-themestate-layersdarkon-tertiary-fixed-variantopacity-012: rgba(85, 63, 94, 0.12);
  --material-themestate-layersdarkon-tertiary-fixed-variantopacity-016: rgba(85, 63, 94, 0.16);
  --material-themestate-layersdarkerroropacity-008: rgba(255, 180, 171, 0.08);
  --material-themestate-layersdarkerroropacity-012: rgba(255, 180, 171, 0.12);
  --material-themestate-layersdarkerroropacity-016: rgba(255, 180, 171, 0.16);
  --material-themestate-layersdarkon-erroropacity-008: rgba(105, 0, 5, 0.08);
  --material-themestate-layersdarkon-erroropacity-012: rgba(105, 0, 5, 0.12);
  --material-themestate-layersdarkon-erroropacity-016: rgba(105, 0, 5, 0.16);
  --material-themestate-layersdarkerror-containeropacity-008: rgba(147, 0, 10, 0.08);
  --material-themestate-layersdarkerror-containeropacity-012: rgba(147, 0, 10, 0.12);
  --material-themestate-layersdarkerror-containeropacity-016: rgba(147, 0, 10, 0.16);
  --material-themestate-layersdarkon-error-containeropacity-008: rgba(255, 218, 214, 0.08);
  --material-themestate-layersdarkon-error-containeropacity-012: rgba(255, 218, 214, 0.12);
  --material-themestate-layersdarkon-error-containeropacity-016: rgba(255, 218, 214, 0.16);
  --material-themestate-layersdarkoutlineopacity-008: rgba(141, 145, 153, 0.08);
  --material-themestate-layersdarkoutlineopacity-012: rgba(141, 145, 153, 0.12);
  --material-themestate-layersdarkoutlineopacity-016: rgba(141, 145, 153, 0.16);
  --material-themestate-layersdarkbackgroundopacity-008: rgba(26, 28, 30, 0.08);
  --material-themestate-layersdarkbackgroundopacity-012: rgba(26, 28, 30, 0.12);
  --material-themestate-layersdarkbackgroundopacity-016: rgba(26, 28, 30, 0.16);
  --material-themestate-layersdarkon-backgroundopacity-008: rgba(227, 226, 230, 0.08);
  --material-themestate-layersdarkon-backgroundopacity-012: rgba(227, 226, 230, 0.12);
  --material-themestate-layersdarkon-backgroundopacity-016: rgba(227, 226, 230, 0.16);
  --material-themestate-layersdarksurfaceopacity-008: rgba(18, 19, 22, 0.08);
  --material-themestate-layersdarksurfaceopacity-012: rgba(18, 19, 22, 0.12);
  --material-themestate-layersdarksurfaceopacity-016: rgba(18, 19, 22, 0.16);
  --material-themestate-layersdarkon-surfaceopacity-008: rgba(198, 198, 202, 0.08);
  --material-themestate-layersdarkon-surfaceopacity-012: rgba(198, 198, 202, 0.12);
  --material-themestate-layersdarkon-surfaceopacity-016: rgba(198, 198, 202, 0.16);
  --material-themestate-layersdarksurface-variantopacity-008: rgba(67, 71, 78, 0.08);
  --material-themestate-layersdarksurface-variantopacity-012: rgba(67, 71, 78, 0.12);
  --material-themestate-layersdarksurface-variantopacity-016: rgba(67, 71, 78, 0.16);
  --material-themestate-layersdarkon-surface-variantopacity-008: rgba(195, 198, 207, 0.08);
  --material-themestate-layersdarkon-surface-variantopacity-012: rgba(195, 198, 207, 0.12);
  --material-themestate-layersdarkon-surface-variantopacity-016: rgba(195, 198, 207, 0.16);
  --material-themestate-layersdarkinverse-surfaceopacity-008: rgba(227, 226, 230, 0.08);
  --material-themestate-layersdarkinverse-surfaceopacity-012: rgba(227, 226, 230, 0.12);
  --material-themestate-layersdarkinverse-surfaceopacity-016: rgba(227, 226, 230, 0.16);
  --material-themestate-layersdarkinverse-on-surfaceopacity-008: rgba(26, 28, 30, 0.08);
  --material-themestate-layersdarkinverse-on-surfaceopacity-012: rgba(26, 28, 30, 0.12);
  --material-themestate-layersdarkinverse-on-surfaceopacity-016: rgba(26, 28, 30, 0.16);
  --material-themestate-layersdarkinverse-primaryopacity-008: rgba(28, 95, 165, 0.08);
  --material-themestate-layersdarkinverse-primaryopacity-012: rgba(28, 95, 165, 0.12);
  --material-themestate-layersdarkinverse-primaryopacity-016: rgba(28, 95, 165, 0.16);
  --material-themestate-layersdarkshadowopacity-008: rgba(0, 0, 0, 0.08);
  --material-themestate-layersdarkshadowopacity-012: rgba(0, 0, 0, 0.12);
  --material-themestate-layersdarkshadowopacity-016: rgba(0, 0, 0, 0.16);
  --material-themestate-layersdarksurface-tintopacity-008: rgba(165, 200, 255, 0.08);
  --material-themestate-layersdarksurface-tintopacity-012: rgba(165, 200, 255, 0.12);
  --material-themestate-layersdarksurface-tintopacity-016: rgba(165, 200, 255, 0.16);
  --material-themestate-layersdarkoutline-variantopacity-008: rgba(67, 71, 78, 0.08);
  --material-themestate-layersdarkoutline-variantopacity-012: rgba(67, 71, 78, 0.12);
  --material-themestate-layersdarkoutline-variantopacity-016: rgba(67, 71, 78, 0.16);
  --material-themestate-layersdarkscrimopacity-008: rgba(0, 0, 0, 0.08);
  --material-themestate-layersdarkscrimopacity-012: rgba(0, 0, 0, 0.12);
  --material-themestate-layersdarkscrimopacity-016: rgba(0, 0, 0, 0.16);
  --material-themestate-layersdarksurface-container-highestopacity-008: rgba(52, 53, 56, 0.08);
  --material-themestate-layersdarksurface-container-highestopacity-012: rgba(52, 53, 56, 0.12);
  --material-themestate-layersdarksurface-container-highestopacity-016: rgba(52, 53, 56, 0.16);
  --material-themestate-layersdarksurface-container-highopacity-008: rgba(41, 42, 45, 0.08);
  --material-themestate-layersdarksurface-container-highopacity-012: rgba(41, 42, 45, 0.12);
  --material-themestate-layersdarksurface-container-highopacity-016: rgba(41, 42, 45, 0.16);
  --material-themestate-layersdarksurface-containeropacity-008: rgba(30, 32, 34, 0.08);
  --material-themestate-layersdarksurface-containeropacity-012: rgba(30, 32, 34, 0.12);
  --material-themestate-layersdarksurface-containeropacity-016: rgba(30, 32, 34, 0.16);
  --material-themestate-layersdarksurface-container-lowopacity-008: rgba(26, 28, 30, 0.08);
  --material-themestate-layersdarksurface-container-lowopacity-012: rgba(26, 28, 30, 0.12);
  --material-themestate-layersdarksurface-container-lowopacity-016: rgba(26, 28, 30, 0.16);
  --material-themestate-layersdarksurface-container-lowestopacity-008: rgba(13, 14, 17, 0.08);
  --material-themestate-layersdarksurface-container-lowestopacity-012: rgba(13, 14, 17, 0.12);
  --material-themestate-layersdarksurface-container-lowestopacity-016: rgba(13, 14, 17, 0.16);
  --material-themestate-layersdarksurface-brightopacity-008: rgba(56, 57, 60, 0.08);
  --material-themestate-layersdarksurface-brightopacity-012: rgba(56, 57, 60, 0.12);
  --material-themestate-layersdarksurface-brightopacity-016: rgba(56, 57, 60, 0.16);
  --material-themestate-layersdarksurface-dimopacity-008: rgba(18, 19, 22, 0.08);
  --material-themestate-layersdarksurface-dimopacity-012: rgba(18, 19, 22, 0.12);
  --material-themestate-layersdarksurface-dimopacity-016: rgba(18, 19, 22, 0.16);
  --material-themeandroidlightcoloraccentprimary: rgba(212, 227, 255, 1);
  --material-themeandroidlightcoloraccentprimaryvariant: rgba(28, 95, 165, 1);
  --material-themeandroidlightcoloraccentsecondary: rgba(216, 227, 248, 1);
  --material-themeandroidlightcoloraccentsecondaryvariant: rgba(84, 95, 113, 1);
  --material-themeandroidlightcoloraccenttertiary: rgba(246, 217, 255, 1);
  --material-themeandroidlightcoloraccenttertiaryvariant: rgba(109, 86, 118, 1);
  --material-themeandroidlighttextcolorprimary: rgba(26, 28, 30, 1);
  --material-themeandroidlighttextcolorsecondary: rgba(67, 71, 78, 1);
  --material-themeandroidlighttextcolortertiary: rgba(116, 119, 127, 1);
  --material-themeandroidlighttextcolorprimaryinverse: rgba(241, 240, 244, 1);
  --material-themeandroidlighttextcolorsecondaryinverse: rgba(198, 198, 202, 1);
  --material-themeandroidlighttextcolortertiaryinverse: rgba(144, 144, 148, 1);
  --material-themeandroidlightcolorbackground: rgba(241, 240, 244, 1);
  --material-themeandroidlightcolorbackgroundfloating: rgba(250, 249, 253, 1);
  --material-themeandroidlightcolorsurface: rgba(250, 249, 253, 1);
  --material-themeandroidlightcolorsurfacevariant: rgba(227, 226, 230, 1);
  --material-themeandroidlightcolorsurfacehighlight: rgba(255, 255, 255, 1);
  --material-themeandroidlightsurfaceheader: rgba(227, 226, 230, 1);
  --material-themeandroidlightundersurface: rgba(0, 0, 0, 1);
  --material-themeandroidlightoffstate: rgba(47, 48, 51, 1);
  --material-themeandroidlightaccentsurface: rgba(238, 240, 250, 1);
  --material-themeandroidlighttextprimaryonaccent: rgba(26, 28, 30, 1);
  --material-themeandroidlighttextsecondaryonaccent: rgba(67, 71, 78, 1);
  --material-themeandroidlightvolumebackground: rgba(58, 59, 62, 1);
  --material-themeandroidlightscrim: rgba(198, 198, 202, 1);
  --material-themeandroiddarkcoloraccentprimary: rgba(212, 227, 255, 1);
  --material-themeandroiddarkcoloraccentprimaryvariant: rgba(118, 173, 249, 1);
  --material-themeandroiddarkcoloraccentsecondary: rgba(216, 227, 248, 1);
  --material-themeandroiddarkcoloraccentsecondaryvariant: rgba(161, 172, 192, 1);
  --material-themeandroiddarkcoloraccenttertiary: rgba(246, 217, 255, 1);
  --material-themeandroiddarkcoloraccenttertiaryvariant: rgba(189, 162, 198, 1);
  --material-themeandroiddarktextcolorprimary: rgba(241, 240, 244, 1);
  --material-themeandroiddarktextcolorsecondary: rgba(195, 198, 207, 1);
  --material-themeandroiddarktextcolortertiary: rgba(141, 145, 153, 1);
  --material-themeandroiddarktextcolorprimaryinverse: rgba(26, 28, 30, 1);
  --material-themeandroiddarktextcolorsecondaryinverse: rgba(70, 71, 74, 1);
  --material-themeandroiddarktextcolortertiaryinverse: rgba(118, 119, 122, 1);
  --material-themeandroiddarkcolorbackground: rgba(26, 28, 30, 1);
  --material-themeandroiddarkcolorbackgroundfloating: rgba(26, 28, 30, 1);
  --material-themeandroiddarkcolorsurface: rgba(47, 48, 51, 1);
  --material-themeandroiddarkcolorsurfacevariant: rgba(70, 71, 74, 1);
  --material-themeandroiddarkcolorsurfacehighlight: rgba(81, 82, 86, 1);
  --material-themeandroiddarksurfaceheader: rgba(70, 71, 74, 1);
  --material-themeandroiddarkundersurface: rgba(0, 0, 0, 1);
  --material-themeandroiddarkoffstate: rgba(47, 48, 51, 1);
  --material-themeandroiddarkaccentsurface: rgba(238, 240, 250, 1);
  --material-themeandroiddarktextprimaryonaccent: rgba(26, 28, 30, 1);
  --material-themeandroiddarktextsecondaryonaccent: rgba(67, 71, 78, 1);
  --material-themeandroiddarkvolumebackground: rgba(58, 59, 62, 1);
  --material-themeandroiddarkscrim: rgba(198, 198, 202, 1);
  --heading-1-manpro-font-family: "Inter-Bold", Helvetica;
  --heading-1-manpro-font-weight: 700;
  --heading-1-manpro-font-size: 36px;
  --heading-1-manpro-letter-spacing: 0px;
  --heading-1-manpro-line-height: normal;
  --heading-1-manpro-font-style: normal;
  --heading-2-manpro-font-family: "Inter-SemiBold", Helvetica;
  --heading-2-manpro-font-weight: 600;
  --heading-2-manpro-font-size: 32px;
  --heading-2-manpro-letter-spacing: 0px;
  --heading-2-manpro-line-height: normal;
  --heading-2-manpro-font-style: normal;
  --display-manpro-font-family: "Inter-Medium", Helvetica;
  --display-manpro-font-weight: 500;
  --display-manpro-font-size: 24px;
  --display-manpro-letter-spacing: 0px;
  --display-manpro-line-height: normal;
  --display-manpro-font-style: normal;
  --body-manpro-font-family: "Inter-Medium", Helvetica;
  --body-manpro-font-weight: 500;
  --body-manpro-font-size: 20px;
  --body-manpro-letter-spacing: 0px;
  --body-manpro-line-height: 120.00000476837158%;
  --body-manpro-font-style: normal;
  --material-theme-display-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-letter-spacing: 0px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-display-small-font-style: normal;
  --material-theme-headline-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-title-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-letter-spacing: 0px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-letter-spacing: 0px;
  --material-theme-title-small-line-height: 20px;
  --material-theme-title-small-font-style: normal;
  --material-theme-body-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-letter-spacing: 0px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-letter-spacing: 0px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-letter-spacing: 0px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-body-small-font-style: normal;
  --material-theme-label-large-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-letter-spacing: 0px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-letter-spacing: 0px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-letter-spacing: 0px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-label-small-font-style: normal;
}
